{% extends 'polls/base.html' %}
{% load staticfiles %}
{% load poll_extras %}


{% block body-content %}
<ul class="breadcrumb">
  <li><a href="{% url 'polls:home' %}">Home</a></li>
  <li class="active">Results</li>
</ul>
    <h1>Results:</h1>
    <h4>Select a ballot to display its graph</h4>
	</div>


	{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

	{% if all_ballots_list %}
		{% for ballot in all_ballots_list %}
			<ul><li><a href="{% url 'polls:chart' ballot.id %}"> {{ ballot.ballot_name }}</a></li></ul>
			{% for choice in ballot.contestants.all %}
		 		<ul>{{ choice.contestant_name }} -- {% getBallotCandidateBalance choice.contestant_address ballot.ballot_name %}</ul>
		 		{% endfor %}
			{% endfor %}
	{% else %}
		<p>No Ballots to display.</p>
	{% endif %}

{% endblock %}