{% extends 'polls/base.html' %}
{% load staticfiles %}
{% load poll_extras %}


{% block body-content %}

<div class="container">
	<div class="row">
		<ul class="breadcrumb">
		  <li><a href="{% url 'polls:home' %}">Home</a></li>
		  <li class="active">Results</li>
		</ul>
	</div>
	<div class="row">
		<div class="page-header">
		  	<h1>Ballot Results</h1>
  			<h5>Click on Ballot Name to display its graph</h5>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
			{% if error_message %}
			<div class="alert alert-dismissible alert-danger">
			  <button type="button" class="close" data-dismiss="alert">&times;</button>
			  
			  <strong>Oh snap!</strong> <p><strong>{{ error_message }}</strong>  </p>
			</div>
			 {% endif %}
	</div>
	
	<div class="row col-md-5">
	{% if all_ballots_list %}
		{% for ballot in all_ballots_list %}
		<div class="panel panel-primary">
  			<div class="panel-heading">
			<!-- <div class="list-group"> -->
  				<!-- <a href="{% url 'polls:chart' ballot.id %}" class="list-group-item active"> -->
    			<h3 class="panel-title"><a href="{% url 'polls:chart' ballot.id %}" >{{ ballot.ballot_name }}</a></h3>
  			</div>
 			
 			
				<ul>
				 <div class="panel-body">
					 {% for choice in ballot.contestants.all %}
					 	<li><h5>{{ choice.contestant_name }}</h5></li>
					 	<ul><h5>Confirmed Votes: {% getBallotCandidateBalance choice.contestant_address ballot.ballot_name %}</h5></ul>
					 	<ul><h4><small>Unconfirmed Votes: {{choice.unconfirmedVotes}}</small></h4></ul>
					 {% endfor %}
				</div>
				</ul>
			
			</div>
		{% endfor %}


	{% else %}
		<p>No Ballots to display.</p>
	{% endif %}
	</div>
</div>

	<!-- This is where the footer begins -->
	<footer>
	<div class= "navbar navbar-static-bottom" role="navigation">
	    <div class="navbar-text pull-left">
	    </div>
	    <div class= "navbar-text pull-right">
	<!-- Add in your social media / github links here -->
	<!-- 
	        <a href="https://github.com/tmsandeep/blockchain_voting_system" >
	            Github</i>
	            </a> -->
	    </div>
	    <!--Below is the copyright information for the site. You can fill in your own here.-->
	    <div class="navbar-text pull-left">
	    &copy; SWENG500 Capstone, 2017
	    </div>
	</div>	
	</footer>
{% endblock %}