{% extends 'polls/base.html' %}
{% load staticfiles %}
{% load poll_extras %}


{% block body-content %}

<div class="container">
	<div class="row">
		<ul class="breadcrumb">
		  <li><a href="{% url 'polls:home' %}">Home</a></li>
		  <li class="active">Results</li>
		</ul>
	</div>
	<div class="row">
		<div class="page-header">
		  	<h1>Ballot Results</h1>
  			<h5>Click on Ballot Name to display its graph</h5>
		</div>
	</div>


	{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

	{% if all_ballots_list %}
		{% for ballot in all_ballots_list %}
			<div class="list-group">
  				<a href="{% url 'polls:chart' ballot.id %}" class="list-group-item active">
    				{{ ballot.ballot_name }}
 				</a>
 				</br>
				<ul>
					 {% for choice in ballot.contestants.all %}
					 	<li><h5>{{ choice.contestant_name }}</h5></li>
					 	<ul><h5>Confirmed Votes: {% getBallotCandidateBalance choice.contestant_address ballot.ballot_name %}</h5></ul>
					 	<ul><h5>Unconfirmed Votes: {{choice.unconfirmedVotes}}</h5></ul>
					 {% endfor %}
				</ul>
				</br>
			</div>
		{% endfor %}


	{% else %}
		<p>No Ballots to display.</p>
	{% endif %}
<br>
</div>
{% endblock %}