{% extends 'polls/base.html' %}
{% load staticfiles %}

{% block body-content %}
	<div class="container">
	<div class="row">
		<ul class="breadcrumb">
		  <li><a href="{% url 'polls:home' %}">Home</a></li>
		  <li><a href="{% url 'polls:index' %}">Ballots</a></li>
		  <li class="active">Voting</li>
		</ul>
	</div>
	<div class="page-header">
  		<h1>{{ ballot.ballot_name }}<br><small>Select a ballot candidate:</small></h1>
	</div>


	{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}


	<form action="{% url 'polls:vote' ballot.id %}" method="post">

	{% csrf_token %}
	{% for choice in ballot.contestants.all %}
		<input type="radio" name="choice" id="choice{{forloop.counter}}" value="{{ choice.id }}" />
		<label for="choice{{ forloop.counter }}" > {{ choice.contestant_name }}</label>
		<!-- Display/Hide Counterparty Address -->
		<br />
		<small for="choice{{ forloop.counter }}" > Bitcoin Address: {{ choice.contestant_address }}</small>
		<br />

		{% endfor %}


		<!-- Single button -->
		<div class="btn-group">
		  <button type="button submit" value="Vote" class="btn btn-danger">Vote</button>
		</div>

		<br />
		<br />

	</body>

	</form>
</div>
{% endblock %}