{% extends 'polls/base.html' %}
{% load staticfiles %}

{% block body-content %}
	<div class="container">
	<div class="row">
		<ul class="breadcrumb">
		  <li><a href="{% url 'polls:home' %}">Home</a></li>
		  <li><a href="{% url 'polls:index' %}">Ballots</a></li>
		  <li class="active">Voting</li>
		</ul>
	</div>
	<div class="page-header">
  		<h1>{{ ballot.ballot_name }}<br><small>Select a ballot candidate:</small></h1>
	</div>


	{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}


	<form action="{% url 'polls:vote' ballot.id %}" method="post">

<!-- 	{% csrf_token %}
	{% for choice in ballot.contestants.all %}
		<input type="radio" name="choice" id="choice{{forloop.counter}}" value="{{ choice.id }}" />
		<label for="choice{{ forloop.counter }}" > {{ choice.contestant_name }}</label>
		Display/Hide Counterparty Address -->
<!-- 		<br />
		<small for="choice{{ forloop.counter }}" > Bitcoin Address: {{ choice.contestant_address }}</small>
		<br />

		{% endfor %} --> 
{% csrf_token %}

<form class="form-horizontal ">
  <fieldset class="jumbotron col-md-6">
  <!--   <legend>Legend</legend> -->
    <div class="form-group">
      <div class="col-lg-10">
      {% for choice in ballot.contestants.all %}
        <div class="radio">
          <label><h4>
            <input name="choice" id="choice{{forloop.counter}}" value="{{ choice.id }}"  type="radio">
            <label for="choice{{ forloop.counter }}" > {{ choice.contestant_name }}</h4></label>
            <br>
            <small for="choice{{ forloop.counter }}" > Bitcoin Address: {{ choice.contestant_address }}</small>
          </label>
        </div>
       {% endfor %}
    </div>

    <div class="form-group">
    	<!-- <div class="col-md-2"></div> -->
	      <div class="col-md-10 col-md-offset-3">
	        <button type="submit" value="vote" class="btn btn-primary col-md-4">Cast Ballot</button>
	      </div>
   <!--  	<div class="col-md-2"></div> -->
    </div>
  </fieldset>
</form>

		<!-- Single button -->
		<!-- <div class="btn-group">
		  <button type="button submit" value="Vote" class="btn btn-danger">Vote</button>
		</div>

		<br />
		<br />

	</body>

	</form>
</div> -->
{% endblock %}