{% extends 'polls/base.html' %}
{% load staticfiles %}

{% block body-content %}
	<div class ="container">
		<div class="row">
			<ul class="breadcrumb">
			  <li class="active">Home</li>
			</ul>
		</div>

		<div class="row">
			<div class="jumbotron">
			  <h1>Blockchain Voting System </h1>
			  <p>The Blockchain Voting System relys on the <a href="https://www.counterparty.io/">Counterparty</a> protocol and the <a href="https://www.bitcoin.com/"> Bitcoin</a> blockchain to record votes in a distributed, immutable and instantly verifiable fasion.</p>
			  <p><a class="btn btn-primary btn-lg">Learn more</a></p>
			</div>
		</div>
		<div class="row">
			<blockquote class="blockquote">
			  <p>Bitcoin is a remarkable cryptographic achievement and the ability to create something that is not duplicable in the digital world has enormous value.</p>
			  <small>Eric Schmidt, Former CEO of Google <cite title="Source Title">Speaking at the Computer History Museum</cite></small>
			</blockquote>
		</div>
		<div class="row">

			<blockquote class="blockquote-reverse">
			  <p>Bitcoin gives us, for the first time, a way for one Internet user to transfer a unique piece of digital property to another Internet user, such that the transfer is guaranteed to be safe and secure, everyone knows that the transfer has taken place, and nobody can challenge the legitimacy of the transfer. The consequences of this breakthrough are hard to overstate.</p>
			  <small>Marc Andreesen, a co-founder of the venture capital firm Andreessen Horowitz in <cite title="Source Title">Why Bitcoin Matters, NYTimes</cite></small>
			</blockquote>

			
		</div>
	</div>

		<!-- This is where the footer begins -->
	<footer>
	<div class= "navbar navbar-static-bottom" role="navigation">
	    <div class="navbar-text pull-left">
	    </div>
	    <div class= "navbar-text pull-right">
	<!-- Add in your social media / github links here -->
	<!-- 
	        <a href="https://github.com/tmsandeep/blockchain_voting_system" >
	            Github</i>
	            </a> -->
	    </div>
	    <!--Below is the copyright information for the site. You can fill in your own here.-->
	    <div class="navbar-text pull-left">
	    &copy; SWENG500 Capstone, 2017
	    </div>
	</div>	
	</footer>

{% endblock %}
