{% extends 'polls/base.html' %}
{% load staticfiles %}


{% block body-content %}
<ul class="breadcrumb">
  <li><a href="{% url 'polls:home' %}">Home</a></li>
  <li class="active">Ballots</li>
</ul>
	<h1> Ballots </h1>
	<h4>Select a Ballot:</h4>
	</div>
	{% if latest_ballot_list %}
		<ul>
		{% for ballot in latest_ballot_list %}
			<li><a href="{% url 'polls:detail' ballot.id %}"> {{ ballot.ballot_name }}</a></li>
			{% endfor %}
		</ul>
	{% else %}
		<p>No polls area available.</p>
	{% endif %}

{% endblock %}


