{% extends 'polls/base.html' %}
{% load staticfiles %}


{% block body-content %}
<div class="container">
	<div class="row">
		<ul class="breadcrumb">
		  <li><a href="{% url 'polls:home' %}">Home</a></li>
		  <li class="active">Ballots</li>
		</ul>
	</div>
	<div class="row">
		<div class="page-header">
  			<h1>Ballots <br><small>Select a Ballot:</small></h1>
		</div>
	</div>


	{% if latest_ballot_list %}
		<ul>
		{% for ballot in latest_ballot_list %}
			<li><a href="{% url 'polls:detail' ballot.id %}"> {{ ballot.ballot_name }}</a></li>
			{% endfor %}
		</ul>
	{% else %}
		<p>No polls area available.</p>
	{% endif %}
</div>

{% endblock %}


