{% extends 'polls/base.html' %}
{% load staticfiles %}

{% block body-content %}
<div class="container">
	<div class="row">
		<ul class="breadcrumb">
		  <li><a href="{% url 'polls:home' %}">Home</a></li>
		  <li class="active">Log In</li>
		</ul>
	</div>
<!-- 	<div class="row">
		<div class="page-header">
  			<h1>Voters List <br><small>Select a voter from the List:</small></h1>
		</div>
	</div> -->

	<!-- {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}</sm> -->
{% if error_message %}
<div class="alert alert-dismissible alert-danger">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  
  <strong>Oh snap!</strong> <p><strong>{{ error_message }}</strong>  - Try submitting again. </p>
</div>
 {% endif %}
<!-- 	<form action="{% url 'polls:loginsubmit' %}" method="post">
	{% csrf_token %}
		<legend>User Log In</legend>
		{% for choice in voterList.listvoters.all %}
			<input type="radio" name="choice" id="choice{{forloop.counter}}" value="{{ choice.id }}" />
			<label for="choice{{ forloop.counter }}" > {{ choice.voter_name }}</label>
			<br />
			{% endfor %}
		{% for v in voters_list %}

	        {% for choice in v.listvoters.all %}
				<input type="radio" name="choice" id="choice{{forloop.counter}}" value="{{ choice.id }}" />
				<label for="choice{{ forloop.counter }}" > {{ choice.voter_name }}</label>
				<br />
			{% endfor %}

	    {% endfor %}

		<div class="btn-group">
		  <button type="button submit" value="Save" class="btn btn-danger">Save</button>
		</div>

		<br />
		<br />
	</form> -->
	<form action="{% url 'polls:loginsubmit' %}" method="post" class="form-horizontal">
	{% csrf_token %}
	<div class="row">
	<div class="col-md-3"></div>
		<div class="jumbotron col-md-6">
		<legend>User Log In</legend>

		<div class="form-group">
	    	<div class="col-md-1"></div>
	      		<!-- <label for="inputUserName" class="col-md-2 control-label">UserName</label> -->
	      	<div class="col-md-10">
	      	<label for="pwd">User Name:</label>
	        	<input class="form-control" name="inputUserName" placeholder="Enter User Name" type="text">
	      	</div>
	      	<div class="col-md-1"></div>
	    </div>
	    <div class="form-group">
	    	<div class="col-md-1"></div>
	      		<!-- <label for="inputPassword" class="col-md-2 control-label">Password</label> -->
	      	<div class="col-md-10">
	      	    <label for="pwd">Password:</label>
	        	<td><input class="form-control" id="pwd" name="inputPassword" placeholder="Enter Password" type="password"></td>
	      	</div>
	      	<div class="col-md-1"></div>
	    </div>
	    <div class="col-md-3"></div>
	    <div class="btn-group col-md-3">
		  <button type="button reset" value="reset" class="btn btn-default">Cancel</button>
		</div>
		<div class="btn-group col-md-3">
		  <button type="button submit" value="Save" class="btn btn-primary">Log In</button>
		</div>

		<br />
		<br />
		</div>
		</div>
	</form>

</div>

	<!-- This is where the footer begins -->
	<footer>
	<div class= "navbar navbar-static-bottom" role="navigation">
	    <div class="navbar-text pull-left">
	    </div>
	    <div class= "navbar-text pull-right">
	<!-- Add in your social media / github links here -->
	<!-- 
	        <a href="https://github.com/tmsandeep/blockchain_voting_system" >
	            Github</i>
	            </a> -->
	    </div>
	    <!--Below is the copyright information for the site. You can fill in your own here.-->
	    <div class="navbar-text pull-left">
	    &copy; SWENG500 Capstone, 2017
	    </div>
	</div>	
	</footer>
{% endblock %}