{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="{% static 'bootstrap-3.3.7-dist/css/bootstrap.css' %}">
		<link rel="stylesheet" href="{% static 'bootstrap-3.3.7-dist/css/bootstrap-theme.css' %}">
		<link rel="script" href="{% static 'bootstrap-3.3.7-dist/js/bootstrap.js' %}">
		<link rel="stylesheet" href="{% static 'css/polls.css' %}">
		{# Load the tag library #}
		{% load bootstrap3 %}

		{# Load CSS and JavaScript #}
		{% bootstrap_css %}
		{% bootstrap_javascript %}

		{# Display django.contrib.messages as Bootstrap alerts #}
		{% bootstrap_messages %}

		

	</head>
	<body>

		

	<div class="page-header">


	{% buttons %}

	 	<a href="{% url 'polls:index'  %}">
			<button type="submit" class="btn btn-primary">{% bootstrap_icon "home" %}</button>
	    </a>
	    <a href="{% url 'polls:login'  %}">
			<button type="submit" class="btn btn-primary">{% bootstrap_icon "user" %} User Login</button>
		</a>
		<a href="{% url 'polls:allresults'  %}">
	    	<button type="submit" class="btn btn-primary">{% bootstrap_icon "bullhorn" %} Results</button>
	    </a>
      
	{% endbuttons %}


	<h1> Voters List </h1>
	<h4> Select a voter from the List: </h4>
	{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}</sm>
	</div>
 
	<form action="{% url 'polls:loginsubmit' %}" method="post">
	{% csrf_token %}
		{% for choice in voterList.listvoters.all %}
			<input type="radio" name="choice" id="choice{{forloop.counter}}" value="{{ choice.id }}" />
			<label for="choice{{ forloop.counter }}" > {{ choice.voter_name }}</label>
			<br />
			{% endfor %}
		{% for v in voters_list %}

	        {% for choice in v.listvoters.all %}
				<input type="radio" name="choice" id="choice{{forloop.counter}}" value="{{ choice.id }}" />
				<label for="choice{{ forloop.counter }}" > {{ choice.voter_name }}</label>
				<br />
			{% endfor %}

	    {% endfor %}

		<div class="btn-group">
		  <button type="button submit" value="Save" class="btn btn-danger">Save</button>
		</div>

		<br />
		<br />
	</form>



	<div class="page-footer">

	</div>
</html>