{% extends 'polls/base.html' %}
{% load staticfiles %}

{% block body-content %}
<ul class="breadcrumb">
  <li><a href="{% url 'polls:home' %}">Home</a></li>
  <li class="active">Log In</li>
</ul>
	<h1> Voters List </h1>
	<h4> Select a voter from the List: </h4>
	{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}</sm>
	</div>
 
	<form action="{% url 'polls:loginsubmit' %}" method="post">
	{% csrf_token %}
		{% for choice in voterList.listvoters.all %}
			<input type="radio" name="choice" id="choice{{forloop.counter}}" value="{{ choice.id }}" />
			<label for="choice{{ forloop.counter }}" > {{ choice.voter_name }}</label>
			<br />
			{% endfor %}
		{% for v in voters_list %}

	        {% for choice in v.listvoters.all %}
				<input type="radio" name="choice" id="choice{{forloop.counter}}" value="{{ choice.id }}" />
				<label for="choice{{ forloop.counter }}" > {{ choice.voter_name }}</label>
				<br />
			{% endfor %}

	    {% endfor %}

		<div class="btn-group">
		  <button type="button submit" value="Save" class="btn btn-danger">Save</button>
		</div>

		<br />
		<br />
	</form>


{% endblock %}