{% extends 'polls/base.html' %}
{% load staticfiles %}


    {% block body-javascript %}
        {% load static %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js" type="text/javascript"></script>
        <script src="{% get_static_prefix %}js/highcharts/highcharts.js"
        type="text/javascript"></script>
        <script src="{% get_static_prefix %}js/highcharts/themes/default.js"
        type="text/javascript"></script>
        {% block chart_loader_header %}{% endblock %}
    {% endblock %}

{% block body-content %}
    <ul class="breadcrumb">
      <li><a href="{% url 'polls:home' %}">Home</a></li>
        <li><a href="{% url 'polls:allresults' %}">Results</a></li>
      <li class="active">Charts</li>
    </ul>
    {% block chart_code %}{% endblock %}
    </br></br></br>
    <a href="{% url 'polls:allresults'  %}">
        <button type="submit" class="btn btn-primary btn-lg btn-block"> Go Back</button>
    </a>
{% endblock %}
